@import '../utilities/variables', '../utilities/mixins';

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  @include mq {
    padding: 10px 30px;
  }
}

.btn + .btn {
  @include mq {
    margin-left: 10px;
  }
}

.default {
  background-color: $light-blue;
}

.error {
  background-color: #e4757a;
}

.info {
  background-color: map-get($colors, 1);
}

.success {
  background-color: $green;
}

.warning {
  background-color: map-get($colors, 2);
}