@import '../utilities/variables', '../utilities/mixins';

.container {
  padding: 0 10px;
  @include mq {
    max-width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
  @include mq {
    flex-direction: row;
  }
}

[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
  @include mq {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }
}

[class^=col] + [class^=col] {
  @include mq {
    margin-left: 10px;
  }
}

@each $number, $color in $colors {
  .theme.col-#{$number} {
    background-color: #{$color};
  }
  @include mq {
  .col-#{$number} {
    flex-basis: calc(8.33% * #{$number});
  }
}
}

.card {
  flex-basis: 100%;
}

.centered {
  @include mq {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.logo {
  @include mq {
    margin-left: initial;
    margin-right: initial;
  }
}