@import '../utilities/variables', '../utilities/mixins';


.container {
  padding: 0 10px;
  @include mq {
    max-width: 1400px;
    @include block;

  }
}

.row {
  @include flex-col;
  padding: 1em 10px;
  @include mq {
    @include flex-row;
  }
}

[class^=col] {
  @include flex-base;
  margin-top: 10px;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
  @include mq {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }
}

[class^=col] + [class^=col] {
  @include mq {
    margin-left: 10px;
  }
}

.card {
  @include flex-base;
}

.centered {
  @include mq {
    @mixin block(null);
  }
}
@each $number, $color in $colors {
  .theme.col-#{$number} {
    background-color: #{$color};
  }
  @include mq {
  .col-#{$number} {
    flex-basis: calc(8.33% * #{$number});
  }
}
}
.logo {
  @include mq {
    margin-left: initial;
    margin-right: initial;
  }
}