@import '../utilities/mixins', '../utilities/variables';

.img {
  &-avatar {
  @include block;
  @include img-other;
  max-height: 100%;
}
  &-frame {
  @include block;
  @include img-other;
  padding: 13px;
  border: 1px solid #ccc;
  }
}