@import '../utilities/variables', '../utilities/mixins';

.nav {
  @include flex-base;
  padding-left: 0;
  @include flex-col;
  @include mq {
    @include flex-row;
    justify-content: flex-end;
    align-items: center;
  }
   &-link {
    text-align: center;
    border-radius: 5px;
    padding: 10px 0;
    display: block;
    width: 100%;
    transition: 
      background-color .2s ease-in-out, 
      color .2s ease-in-out;
      &:hover {
        color: $white;
        background-color: $sea-green;
      }
      @include mq {
        @include flex-base(100px);
      }
  }
  }
